/*
Lumino Admin Bootstrap Template
Version 1.0
*/


/*Global Styles*/

body {
	background: #f1f4f7;
	padding-top: 50px;
	color: #5f6468;
}

.alert-danger {
    background-color: #4ec3ff;
    border-color: #ebccd1;
    color: #fff;
}

p {
	color: #777;
}

a, a:hover, a:focus {
	color: #30a5ff;
}

h1, h2, h3, h4, h5, h6 {
	color: #5f6468;
}

h1 {
	font-weight: 300;
	font-size: 40px;
}

h2 {
	font-weight: 300;
	margin-bottom: 20px;
}

h3, h4 {
	font-weight: 300;
}

.large {
	font-size: 2em;
}

.text-muted {
	color: #9fadbb;
}

.color-gray { color: #5f6468; }
.color-blue { color: #30a5ff; }
.color-teal { color: #1ebfae; }
.color-orange { color: #ffb53e; }
.color-red { color: #f9243f; }

.bg-primary .glyphicon-remove { color: #5f6468;}
.bg-primary .glyphicon-remove:hover { color: #ef4040;}

.no-padding {
	padding: 0; margin: 0;
}

.glyphicon-xl {
	font-size: 6em;
}

.glyphicon-l {
	font-size: 3em;
}

.glyphicon-m {
	font-size: 1.5em;
}

.glyphicon-s {
	font-size: 0.75em;
}

.form-control {
	border: 1px solid #eee;
	box-shadow: none;
}

.form-control:focus {
	border: 1px solid #30a5ff;
	outline: 0;
	box-shadow: inset 0px 0px 0px 1px #30a5ff;
}

.navbar-header .navbar-brand {
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 2px;
}

.navbar-header .navbar-brand span {
	color: #30a5ff;
}

/*Buttons*/

a.btn:hover,
button:hover {
	opacity: 0.8;
}

a.btn:active,
button:active {
	box-shadow: inset 0px 0px 500px rgba(0,0,0,.1);
	opacity: 1;
}

.btn-default,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default,
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
	background-color: #e9ecf2;
	border-color: #e9ecf2;
	color: #1b3548;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary,
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
	background-color: #30a5ff;
	border-color: #30a5ff;
}

.btn-success,
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success,
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
	background-color: #8ad919;
	border-color: #8ad919;
}

.btn-warning,
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning,
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
	background-color: #ffb53e;
	border-color: #ffb53e;
}

.btn-danger,
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger,
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
	background-color: #f9243f;
	border-color: #f9243f;
}

/*Backgrounds*/

.bg-primary {
	color: #1b3548;
	background-color: #e9ecf2;
}
a.bg-primary:hover {
	background-color: #e9ecf2;
}
.bg-success {
	color: #fff;
	background-color: #8ad919;
}
a.bg-success:hover {
	background-color: #8ad919;
}
.bg-success a {
	color: rgba(255, 255, 255, .75);
}
.bg-info {
	color: #fff;
	background-color: #30a5ff;
}
a.bg-info:hover {
	background-color: #30a5ff;
}
.bg-info a {
	color: rgba(255, 255, 255, .75);
}
.bg-warning {
	color: #fff;
	background-color: #ffb53e;
}
a.bg-warning:hover {
	background-color: #ffb53e;
}
.bg-warning a {
	color: rgba(255, 255, 255, .75);
}
.bg-danger {
	color: #fff;
	background-color: #f9243f;
}
a.bg-danger:hover {
	background-color: #f9243f;
}
.bg-danger a {
	color: rgba(255, 255, 255, .75);
}

/*Panels*/

.panel {
	border: 0;
}

.panel-heading {
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 0.025em;
	height: 66px;
	line-height: 45px;
}

.panel-default .panel-heading {
	background: #fff;
	border-bottom: 1px solid #eee;
	color: #5f6468;
}

.panel-footer {
	background: #fff;
	border-top: 1px solid #eee;
}

.panel-widget {
	padding: 0;
	position: relative;
}

.panel-widget .panel-footer {
	border: 0;
	text-align: center;
}

.panel-footer .input-group {
	padding: 0px;
	margin: 0 -5px;
}

.panel-footer .input-group-btn:last-child>.btn, 
.panel-footer .input-group-btn:last-child>.btn-group {
	margin: 0;
}

.panel-widget .panel-footer a {
	color: #999;
}

.panel-widget .panel-footer a:hover {
	color: #666;
	text-decoration: none;
}

.panel-blue { background: #30a5ff; color: #fff; }
.panel-teal { background: #1ebfae; color: #fff; }
.panel-orange { background: #ffb53e; color: #fff; }
.panel-red { background: #f9243f; color: #fff; }

.panel-blue .panel-body p,
.panel-teal .panel-body p,
.panel-orange .panel-body p,
.panel-red .panel-body p { 
	color: #fff; 
	color: rgba(255, 255, 255, .8);
}

.panel-blue .panel-heading,
.panel-teal .panel-heading,
.panel-orange .panel-heading,
.panel-red .panel-heading {
	border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.panel-blue .text-muted,
.panel-teal .text-muted,
.panel-orange .text-muted,
.panel-red .text-muted { 
	color: rgba(255, 255, 255, .5); 
}

.dark-overlay {
	background: rgba(0, 0, 0, .05);
	text-align: center;
}

.widget-left {
	height: 80px;
	padding-top: 15px;
	text-align: center;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.widget-right {
	text-align: left;
	line-height: 1.6em;
	margin: 0px;
	padding: 20px;
	height: 80px;
	color: #999;
	font-weight: 300;
	background: #fff;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

@media (max-width: 768px) {
	.widget-right {
	width: 100%;
	margin: 0;
	text-align: center;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	}
}

@media (max-width: 768px) {
	.widget-left {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	}
}

.widget-right .text-muted {
	color: #9fadbb;
}
.widget-right .large {
	color: #5f6468;
}

.panel-blue .widget-left { background: #30a5ff; color: #fff; }
.panel-teal .widget-left { background: #1ebfae; color: #fff; }
.panel-orange .widget-left { background: #ffb53e; color: #fff; }
.panel-red .widget-left { background: #f9243f; color: #fff; }

.panel-widget {
	background: #fff;
}

/*Jumbotron*/

.jumbotron {
	background: #fff;
	border-bottom: 1px solid #eee;
	color: #5f6468;
}

/*Tabs*/

.panel .tabs {
	margin: 0;
	padding: 0;
}

.nav-tabs {
	background: #e9ecf2;
	border: 0;
}

.nav-tabs li a:hover {
	background: #fff;
}

.nav-tabs li a,
.nav-tabs li a:hover,
.nav-tabs li.active a,
.nav-tabs li.active a:hover {
	border: 0;
	padding: 15px 20px;
}

.nav-pills {
	padding: 15px;
	padding-bottom: 0;
}

.nav-pills li a,
.nav-pills li a:hover,
.nav-pills li.active a,
.nav-pills li.active a:hover {
	border: 0;
	padding: 7px 15px;
}

.nav-pills li.active a,
.nav-pills li.active a:hover {
	background: #30a5ff;
}

.tab-content {
	padding: 15px;
}


/*Navbar*/

.navbar {
	border: 0;
}

.navbar input {
	border: 0;
	background: #444;
	color: #fff;
}

.navbar input:focus {
	color: #fff;
	background: #555;
	border: 1px solid #30a5ff;
	outline: 0;
	box-shadow: inset 0px 0px 0px 1px #30a5ff;
}

.user-menu {
	display: inline-block;
	margin-top: 14px;
	margin-right: 10px;
	float: right;
	list-style: none;
	padding: 0;
}

.user-menu a {
	color: #fff;
}

.user-menu a:hover, .user-menu a:focus {
	text-decoration: none;
}

/* Sidebar */

.sidebar {
	display: block;
	background-color: #fff;
	padding: 0;
	display: none;
}

.sidebar form {
	padding: 20px 15px 5px 15px;
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;
}

@media (min-width: 768px) {
	.sidebar {
		display: block;
  		position: fixed;
		top: 50px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		margin: 0;
		padding: 0;
		overflow-x: hidden;
		overflow-y: auto; 
		background-color: #fff;
		box-shadow: 1px 0px 10px rgba(0, 0, 0, .05);
	}
	.navbar-header {
		width: 100%;
	}
}

.sidebar ul.nav a:hover, 
.sidebar ul.nav li.parent ul li a:hover {
	text-decoration: none;
	background-color: #e9ecf2;
}

.sidebar ul.nav .active a, .sidebar ul.nav li.parent a.active,
.sidebar ul.nav .active > a:hover, .sidebar ul.nav li.parent a.active:hover,
.sidebar ul.nav .active > a:focus, .sidebar ul.nav li.parent a.active:focus {
	color: #fff;
	background-color: #30a5ff;
}*/

.sidebar ul.nav ul,
.sidebar ul.nav ul li {
	list-style: none;
	list-style-type: none;
}

.sidebar ul.nav ul.children {
	width: auto;
	padding: 0;
	margin: 0;
	background: #f9f9f9;
}

.sidebar ul.nav ul.children li a {
	height: 40px;
	background: #f9f9f9;
	color: #30a5ff!important;
}

.sidebar ul.nav li.current a {
	background-color: #30a5ff;
	color: #fff!important;
}

.sidebar ul.nav li.parent ul li a {
	border: none;
	display:block;
	padding-left: 30px;
	line-height: 40px;
}


.sidebar span.glyphicon {
	margin-right: 10px;
}

.sidebar ul.nav li.divider {
	border-bottom: 1px solid #eee;
	margin: 20px 0;
}

.sidebar .attribution {
	position: absolute;
	bottom: 0px;
	width: 100%;
	padding: 15px;
	text-align: center;
	border-top: 1px solid #eee;
	font-size: 12px;
}

/*Breadcrumbs*/

.breadcrumb {
	border-radius: 0;
	padding: 10px 15px;
	background: #e9ecf2;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	margin: 0 ;
}

h1.page-header {
	margin-top: 30px;
	border-bottom: 0;
}

/*Charts*/

.main-chart {
	background: #fff;
}

.easypiechart-panel {
	text-align: center;
	padding: 1px 0;
	margin-bottom: 20px;
}

.placeholder h2 {
	margin-bottom: 0px;
}

.donut {
	width: 100%;
}

.easypiechart {
	position: relative;
	text-align: center;
	width: 120px;
	height: 120px;
	margin: 20px auto 10px auto;
}

.easypiechart .percent {
	display: block;
	position: absolute;
	font-size: 26px;
	top: 38px;
	width: 120px;
}

#easypiechart-blue .percent { color: #30a5ff;}
#easypiechart-teal .percent { color: #1ebfae;}
#easypiechart-orange .percent { color: #ffb53e;}
#easypiechart-red .percent { color: #ef4040;}

/*Calendar Widget*/

#calendar, .datepicker-inline {
	width: 100%;
}

#calendar table {
	width: 100%;
}

.datepicker table tr td.old,
.datepicker table tr td.new {
	color: rgba(255, 255, 255, .50);
}

.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:focus,
.datepicker table tr td.active:hover:focus,
.datepicker table tr td.active.disabled:focus,
.datepicker table tr td.active.disabled:hover:focus,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.open .dropdown-toggle.datepicker table tr td.active,
.open .dropdown-toggle.datepicker table tr td.active:hover,
.open .dropdown-toggle.datepicker table tr td.active.disabled,
.open .dropdown-toggle.datepicker table tr td.active.disabled:hover {
	color: #ffffff;
	background-color: rgba(0, 0, 0, .5);
	border-color: #285e8e;
}

.datepicker table tr td span:hover,
.datepicker thead tr:first-child th:hover,
.datepicker tfoot tr th:hover,
.datepicker table tr td.day:hover,
.datepicker table tr td.day.focused {
	background: rgba(0, 0, 0, 0.25);
}

.panel-heading .glyphicon {
	margin-right: 10px;
}

/*Todo List Widget*/

.todo-list-item .glyphicon { 
	margin-right:5px; 
	color: #9fadbb; 
}

.todo-list-item .glyphicon:hover { 
	margin-right:5px; 
	color: #1b3548; 
}

.todo-list { 
	padding: 0;
	margin: -15px;
	background: #fff;
	color: #5f6468;
}

#checkbox {
	margin: 0;
}

.todo-list .checkbox { 
	display:inline-block; 
	margin: 0px;
}

.panel-body input[type=checkbox]:checked + label { 
	text-decoration: line-through;
	color: #777; 
}

.todo-list-item {
	list-style: none;
	line-height: 0.9;
	padding: 14px 15px 8px 15px;
}

.todo-list-item:hover, a.todo-list-item:focus {
	text-decoration: none;
	background-color: #f6f6f6;
}

.todo-list-item .trash .glyph:hover {
	color: #ef4040;
}


/*Chat Widget*/

.chat ul {
	list-style: none;
	margin: -15px;
	padding: 15px;
}

.chat ul li {
	margin-bottom: 10px;
	padding: 15px 5px;
	border-bottom: 1px solid #eee;
}

.chat ul li.left .chat-body { margin-left: 100px;}
.chat ul li.right .chat-body { margin-right: 100px;}

.chat ul li .chat-body p {
	margin: 0;
}

.chat ul .glyphicon {
	margin-right: 5px;
}

.chat .panel-body {
	overflow-y: scroll;
	height: 300px;
}

.chat-body small {
	margin-left: 5px;
}

/*Tables*/
.table {
	background: #fff;
}

.fixed-table-container {
	border: 1px solid #eee;
}

.fixed-table-container thead th {
	background: #f7f7f8;
	border-color: #ddd;
	color: #5f6468;
	font-weight: 300;
	font-size: 16px;
}

.fixed-table-container tbody td {
	border: 1px solid #eee;
}

.fixed-table-container tbody td:last-child {
	border-right: none;
}

.table>thead>tr>th {
	border-bottom: 1px solid #e6e7e8;
	vertical-align: middle;
	height: 50px;
}

.fixed-table-pagination .pagination {
    margin-top: 10px;
    margin-bottom: 0px;
}
.fixed-table-pagination .pagination-detail {
	margin-top: 20px;
}

/*Icons*/


.sidebar .glyph, .user-menu .glyph {
	height: 16px;
	width: 16px;
	margin: 0 10px 0 0;
	stroke-width: 3px;
}

.user-menu .glyph {
	stroke-width: 4px;
}

.breadcrumb .glyph {
	height: 14px;
	width: 14px;
	margin: -2px 0 0 0;
	stroke-width: 4px;
}

.alert .glyph, .panel-heading .glyph {
	width: 26px;
	height: 26px;
	margin: 0 10px 0 0;
	stroke-width: 2px;
}

.panel-widget .glyph {
	stroke-width: 2px;
}

.todo-list .glyph {
	width: 14px;
	height: 14px;
	stroke-width: 4px;
	color: #999;
}

.glyph.table {
	background: none;
	border: none;
}

/*Icon Grid*/

.icon-grid div {
	border: 1px solid #ddd;
	margin: 0 0 -1px -1px;
	text-align: center;
	padding: 10px 0 20px 0;
}

.icon-grid svg {
	width: 35%;
	display: block;
	margin: 0 auto;
}

.icon-grid h4 {
	display: none;
}

.icon-grid pre {
	margin: 10px 10px -10px 10px;
	border-radius: 0;
	font-size: 10px;
	border-color: #ddd;
	height: 65px;
	overflow: scroll;
}









/* styles .css ends here */


/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
}


/*-------------------------
	General Styles
--------------------------*/

body{
	font:14px/1.3 'Segoe UI', 'Arial', sans-serif;
}

a, a:visited {
	outline:none;
	color:#1c4f64;
}

a:hover{
	text-decoration:none;
}

section, footer, header{
	display: block;
}


/*----------------------------
	The Header
-----------------------------*/


h1{
	font:bold 36px Cambria, "Hoefler Text",serif;
	margin-bottom:50px;
	color:#71564b;
	text-shadow:1px 1px 0 rgba(255,255,255,0.4);
}


/*----------------------------
	The Form
-----------------------------*/


#main{
	width:440px;
	margin:80px auto 120px;
	position:relative;
	text-align:center;
}

#main form{
	width:440px;
	height:450px;
	background:url('http://i33.tinypic.com/24eng8x.png') no-repeat;
	padding-top: 50px;
}

#main form .row{
	position:relative;
}

#main form .row.error:after,
#main form .row.success:after{
	content:'';
	
	position:absolute;
	right: 60px;
    top: 8px;
	width:32px;
	height:32px;
	background:url('http://i38.tinypic.com/33c4s9c.png') no-repeat;
}

#main form .row.error:after{
	background-position: 0 -79px;
}

#main form input[type=text],
#main form input[type=password]{

	border:none;
	background:url('http://i34.tinypic.com/2qm0ndc.png') no-repeat top left;
	font:14px 'Segoe UI','Arial',sans-serif;
	color:#888;
	
	outline:none;
	
    height: 48px;
    margin: 0 auto 22px;
    padding: 0 10px 0 50px;
    width: 278px;
}

#main form input[disabled]{
	opacity: 0.5;
}

#main form .email input{
	background-position:0 0;
}

#main form .email input:focus{
	background-position:0 -48px;
}

#main form .pass input{
	background-position:0 -96px;
}

#main form .pass input:focus{
	background-position:0 -144px;
}


/*----------------------------
	The Submit Button
-----------------------------*/


#main form input[type=submit]{
	
	border: 1px solid #004C9B;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 1px rgba(0, 0, 0, 0.3);
    color: #D3EBFF;
    cursor: pointer;
    display: block;
    font: bold 24px Cambria,"Hoefler Text",serif;
    margin: 230px auto 0;
    padding: 10px;
    text-shadow: 0 -1px 0 #444444;
    width: 410px;
    
	background-color:#0496DA;
	
	background-image: linear-gradient(top, #0496DA 0%, #0067CD 100%);
	background-image: -o-linear-gradient(top, #0496DA 0%, #0067CD 100%);
	background-image: -moz-linear-gradient(top, #0496DA 0%, #0067CD 100%);
	background-image: -webkit-linear-gradient(top, #0496DA 0%, #0067CD 100%);
	background-image: -ms-linear-gradient(top, #0496DA 0%, #0067CD 100%);
}

#main form input[type=submit]:hover{
	
	background-color:#0383d3;
	
	background-image: linear-gradient(top, #0383d3 0%, #004c9b 100%);
	background-image: -o-linear-gradient(top, #0383d3 0%, #004c9b 100%);
	background-image: -moz-linear-gradient(top, #0383d3 0%, #004c9b 100%);
	background-image: -webkit-linear-gradient(top, #0383d3 0%, #004c9b 100%);
	background-image: -ms-linear-gradient(top, #0383d3 0%, #004c9b 100%);
}

#main form input[type=submit]:active{
	
	background-color:#026fcb;
	
	background-image: linear-gradient(top, #026fcb 0%, #004c9b 100%);
	background-image: -o-linear-gradient(top, #026fcb 0%, #004c9b 100%);
	background-image: -moz-linear-gradient(top, #026fcb 0%, #004c9b 100%);
	background-image: -webkit-linear-gradient(top, #026fcb 0%, #004c9b 100%);
	background-image: -ms-linear-gradient(top, #026fcb 0%, #004c9b 100%);
}


/*----------------------------
	The Arrow
-----------------------------*/


#main form .arrow{
    background: url("http://i33.tinypic.com/14txydw.jpg") no-repeat -10px 0;
    height: 120px;
    left: 214px;
    position: absolute;
    top: 392px;
    width: 11px;
    
   	/* Defining a smooth CSS3 animation for turning the arrow */
    
    -moz-transition:0.3s;
    -webkit-transition:0.3s;
    -o-transition:0.3s;
    -ms-transition:0.3s;
    transition:0.3s;
    
    /* Putting the arrow in its initial position */
    
	-moz-transform: rotate(-134deg);
	-webkit-transform: rotate(-134deg);
	-o-transform: rotate(-134deg);
	-ms-transform: rotate(-134deg);
	transform: rotate(-134deg);
}

#main form .arrowCap{
	background: url("http://i33.tinypic.com/14txydw.jpg") no-repeat -43px 0;
	height: 20px;
	left: 208px;
	position: absolute;
	top: 443px;
	width: 20px;
	z-index: 10;
}

#main form .meterText{
	color: #575757;
	font-size: 10px;
	left: 189px;
	line-height: 1.1;
	position: absolute;
	top: 485px;
	width: 60px;
}


/*----------------------------
	The Footer
-----------------------------*/


footer{
	font:14px/1.3 'Segoe UI',Arial, sans-serif;
	background-color: #111111;
	bottom: 0;
	box-shadow: 0 -1px 2px rgba(0,0,0,0.4);
	height: 45px;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 100000;
}

footer h2{
	color: #EEEEEE;
	font-size: 14px;
	font-weight: normal;
	left: 50%;
	margin-left: -400px;
	padding: 13px 0 0;
	position: absolute;
	width: 540px;
}

footer h2 i{
	font-style:normal;
	color:#888;
}

footer a.al3xis,a.al3xis:visited{
	color: #999999;
	font-size: 12px;
	left: 50%;
	margin: 16px 0 0 110px;
	position: absolute;
	text-decoration: none;
	top: 0;
}

footer a i{
	color:#ccc;
	font-style: normal;
}

footer a i b{
	color:#c92020;
	font-weight: normal;
}



/* volo.css ends here  */


@import url(https://fonts.googleapis.com/css?family=Shojumaru);

select {
	background-color: #fff;
}

.volo-container {
	padding: 0 15px;
}

.top-block {
	border-radius: 20px;
	font-size: 14px;
	text-align: center;
	padding: 5px;
	margin-bottom: 10px;
	font-weight: bold;
	position: relative;
	display: block;
	line-height: 22px;
	text-shadow: 0 0 1px #DDD;
	text-decoration: none;
	-webkit-box-shadow: inset 0 0 0 1px #FAFAFA;
	-moz-box-shadow: inset 0 0 0 1px #FAFAFA;
	box-shadow: inset 0 0 0 1px #FAFAFA;
	background: -moz-linear-gradient(top, rgba(30, 87, 153, 0.2) 0%,
		rgba(125, 185, 232, 0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(30,
		87, 153, 0.2)), color-stop(100%, rgba(125, 185, 232, 0)));
	background: -webkit-linear-gradient(top, rgba(30, 87, 153, 0.2) 0%,
		rgba(125, 185, 232, 0) 100%);
	background: -o-linear-gradient(top, rgba(30, 87, 153, 0.2) 0%,
		rgba(125, 185, 232, 0) 100%);
	background: -ms-linear-gradient(top, rgba(30, 87, 153, 0.2) 0%,
		rgba(125, 185, 232, 0) 100%);
	background: linear-gradient(to bottom, rgba(30, 87, 153, 0.2) 0%,
		rgba(125, 185, 232, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#331e5799',
		endColorstr='#007db9e8', GradientType=0);
}

.top-block span {
	clear: both;
}

.top-block i {
	font-size: 25px;
}

.top-block:hover {
	text-decoration: none;
}

.notification {
	display: block;
	position: absolute;
	top: -10px;
	right: -5px;
	line-height: 16px;
	height: 16px;
	padding: 0 5px;
	font-family: Arial, sans-serif;
	color: white !important;
	text-shadow: 0 1px hsla(0, 0%, 0%, 0.25);
	border-width: 1px;
	border-style: solid;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.08), inset 0 1px
		hsla(0, 100%, 100%, 0.3);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px
		rgba(255, 255, 255, 0.3);
	box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.08), inset 0 1px
		hsla(0, 100%, 100%, 0.3);
}

.notification {
	border-color: #2FABE9;
	background-color: #67C2EF;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(200,
		80%, 82%)), color-stop(100%, hsl(200, 81%, 67%)));
	background-image: -webkit-linear-gradient(top, hsl(200, 80%, 82%),
		hsl(200, 81%, 67%));
	background-image: -moz-linear-gradient(top, hsl(200, 80%, 82%),
		hsl(200, 81%, 67%));
	background-image: -ms-linear-gradient(top, hsl(200, 80%, 82%),
		hsl(200, 81%, 67%));
	background-image: -o-linear-gradient(top, hsl(200, 80%, 82%),
		hsl(200, 81%, 67%));
	background-image: linear-gradient(top, hsl(200, 80%, 82%),
		hsl(200, 81%, 67%));
}

.notification.green {
	border-color: #5AAD34;
	background-color: #78CD51;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(101,
		54%, 71%)), color-stop(100%, hsl(101, 55%, 56%)));
	background-image: -webkit-linear-gradient(top, hsl(101, 54%, 71%),
		hsl(101, 55%, 56%));
	background-image: -moz-linear-gradient(top, hsl(101, 54%, 71%),
		hsl(101, 55%, 56%));
	background-image: -ms-linear-gradient(top, hsl(101, 54%, 71%),
		hsl(101, 55%, 56%));
	background-image: -o-linear-gradient(top, hsl(101, 54%, 71%),
		hsl(101, 55%, 56%));
	background-image: linear-gradient(top, hsl(101, 54%, 71%),
		hsl(101, 55%, 56%));
}

.notification.yellow {
	border-color: #F4A506;
	background-color: #FABB3D;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(40,
		95%, 76%)), color-stop(100%, hsl(40, 95%, 61%)));
	background-image: -webkit-linear-gradient(top, hsl(40, 95%, 76%),
		hsl(40, 95%, 61%));
	background-image: -moz-linear-gradient(top, hsl(40, 95%, 76%),
		hsl(40, 95%, 61%));
	background-image: -ms-linear-gradient(top, hsl(40, 95%, 76%),
		hsl(40, 95%, 61%));
	background-image: -o-linear-gradient(top, hsl(40, 95%, 76%),
		hsl(40, 95%, 61%));
	background-image: linear-gradient(top, hsl(40, 95%, 76%),
		hsl(40, 95%, 61%));
}

.notification.red {
	border-color: #FA5833;
	background-color: #FA603D;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(11,
		95%, 76%)), color-stop(100%, hsl(11, 95%, 61%)));
	background-image: -webkit-linear-gradient(top, hsl(11, 95%, 76%),
		hsl(11, 95%, 61%));
	background-image: -moz-linear-gradient(top, hsl(11, 95%, 76%),
		hsl(11, 95%, 61%));
	background-image: -ms-linear-gradient(top, hsl(11, 95%, 76%),
		hsl(11, 95%, 61%));
	background-image: -o-linear-gradient(top, hsl(11, 95%, 76%),
		hsl(11, 95%, 61%));
	background-image: linear-gradient(top, hsl(11, 95%, 76%),
		hsl(11, 95%, 61%));
}

.box {
	/*margin-top: 10px;*/
	margin-bottom: 10px;
}

.box-inner {
	border: 1px solid #DEDEDE;
	margin-top: 5px;
	/*border-radius: 3px;*/
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
	-webkit-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
	-moz-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
}

.box-header {
	border: none;
	padding-top: 5px;
	border-bottom: 1px solid #DEDEDE;
	border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	height: 35px;
	min-height: 35px !important;
	margin-bottom: 0;
	font-weight: bold;
	font-size: 16px;
	/*background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#1a000000', GradientType=0);*/
	background: #4EC3FF ;
}

.box-header h2 {
	color: white;
	font-size: 15px;
	width: auto;
	clear: none;
	float: left;
	line-height: 25px;
	white-space: nowrap;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
}

.box-header h3 {
	font-size: 13px;
	width: auto;
	clear: none;
	float: left;
	line-height: 25px;
	white-space: nowrap;
}

.box-header h2>i {
	margin-top: 1px;
}

.box-icon {
	float: right;
}

.box-icon a {
	clear: none;
	float: left;
	margin: 0 2px;
	height: 20px;
	width: 5px;
	margin-top: 1px;
}

.box-icon a i {
	margin-left: -6px;
	top: -1px;
}

.box-content {
	padding: 10px;
}

.btn-round {
	border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	font-size: 12px;
	padding-top: 4px;
}

ul.dashboard-list li {
	padding: 7px 0;
	list-style: none;
	border-bottom: 1px solid #EBEBEB;
	border-top: 1px solid white;
}

ul.dashboard-list a:hover {
	text-decoration: none;
}

ul.dashboard-list {
	margin: 0;
}

ul.dashboard-list li a span {
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	margin-right: 10px;
	text-align: right;
	width: 70px;
	zoom: 1;
}

.dashboard-avatar {
	height: 50px;
	width: 50px;
	padding: 1px;
	float: left;
	margin-left: 15px;
	margin-right: 15px;
	border: 1px solid #EBEBEB;
	border-radius: 50%;
}

.thumbnail {
	background-color: white;
	z-index: 2;
	position: relative;
	margin-bottom: 40px !important;
}

.thumbnails>li {
	display: inline-block;
	margin-left: 15px;
}

.thumbnail img,.thumbnail>a {
	z-index: 2;
	height: 100px;
	width: 100px;
	position: relative;
	display: block;
}

img.grayscale {
	-webkit-filter: grayscale(1);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
}

.thumbnail .gallery-controls {
	position: absolute;
	z-index: 1;
	margin-top: -30px;
	height: 30px;
	min-height: 30px;
	padding: 0 6.5px;
}

.thumbnail .gallery-controls p {
	display: block;
	margin: auto;
	width: 100%;
}

div.uploader {
	border-radius: 14px;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
}

footer {
	clear: both;
}

div.center,p.center,img.center {
	margin-left: auto !important;
	margin-right: auto !important;
	float: none !important;
	display: block;
	text-align: center;
}

.stackControls {
	padding: 5px;
}

.sidebar-nav {
	min-height: 0;
	box-shadow: 0 0 10px #BDBDBD;
	/*border-radius: 5px;*/
	margin-bottom: 0;
	padding-bottom: 0;
	max-height: none;
	margin-top: 5px;
}

.sidebar-nav>ul>li:not (.nav-header ) {
	margin-right: -2px;
	margin-left: -2px;
}

.navbar-brand {
	font-family: 'Shojumaru', cursive, Arial, serif;
	letter-spacing: 2px;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	width: 30%;
	font-size: 17px;
	padding: 5px;
}

.navbar-brand img-1 {
	float: left;
	height: 20px;
	width: 20px;
	margin-right: 5px;
}

.navbar-brand span {
	float: left;
}

.theme-container {
	z-index: 5;
}

.navbar-search {
	margin-left: 10px;
	margin-top: 7px;
}

.navbar-inner {
	padding-top: 0px;
	padding-bottom: 5px;
	line-height: 30px;
	height: 60px;
}

.navbar-inner .btn-group {
	margin: 12px 5px 0 5px;
}

ul.ajax-loaders li {
	display: inline-block;
	list-style: none;
	padding: 10px;
}

ul.ajax-loaders {
	min-height: 80px;
}

.bs-icons li {
	list-style: none;
}

#for-is-ajax {
	padding-left: 12px;
	cursor: pointer;
}

#loading {
	margin-top: 20px;
	width: 128px;
	font-weight: bold;
}

#loading div.center {
	margin-top: 10px;
	height: 15px;
	width: 128px;
	background: url(../img/ajax-loaders/ajax-loader-6.gif);
}

.box-content .nav-tabs {
	margin-right: -10px;
	margin-left: -10px;
}

.login-header {
	padding-top: 30px;
	height: 120px;
}

.pull-left {
	float: left !important;
}

.pull-right {
	float: right !important;
}

.remember {
	margin-top: 3px;
}

.green {
	color: #458746;
}

.red {
	color: #B94846;
}

.blue {
	color: #3986AC;
}

.yellow {
	color: #F99406;
}

.login-box .input-prepend {
	margin-bottom: 10px;
}

.login-box .btn {
	margin-top: 15px;
	width: 100%
}

.box-content.buttons {
	min-height: 297px;
}

.main-menu>li>a {
	border: 1px solid rgba(221, 221, 221, 0.46);
}

.main-menu>li {
	margin-top: 0 !important;
}

.sidebar-nav .nav-header {
	display: block;
	padding: 3px 15px;
	font-size: 11px;
	font-weight: bold;
	line-height: 18px;
	color: #999999;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
}

.navbar {
	border-radius: 0;
}

ul.main-menu li:hover {
	margin-left: 8px;
}

ul.main-menu li.active {
	margin-left: 8px;
}

ul.main-menu li.nav-header:hover {
	margin-left: 0;
}

ul.main-menu li:not (.nav-header ) {
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.accordion>ul {
	display: none;
	margin-left: 10px;
}

.nav-sm {
	display: none;
}

.preview-on-phone {
	height: 380px;
}

.powered-by {
	text-align: right;
}

.whitespace:before {
	content: "\2122";
	color: transparent !important;
}

.center-block {
	float: none !important;
	text-align: center;
}

ul.github-buttons li {
	display: inline;
}

.homepage-box {
	height: 380px;
}

.download-buttons a {
	margin: 5px;
}

.center-text {
	text-align: center;
}

/* Mobile */
@media only screen and (max-width: 767px) {
	.navbar-brand {
		font-family: 'Shojumaru', cursive, Arial, serif;
		letter-spacing: 2px;
		text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
		width: 40%;
		font-size: 14px;
	}
	.nav-sm {
		display: block;
		margin-bottom: 10px;
		border-bottom: solid white 1px;
		padding-bottom: 10px;
	}
	.sidebar-nav .nav-canvas {
		top: -20px;
		left: -90%;
		position: absolute;
		width: 80%;
		z-index: 2;
		background: rgba(0, 0, 0, 0.8);
		margin: 0 !important;
		border-radius: 0 0 20px 0;
		padding-bottom: 10px;
		will-change: left;
	}
	.sidebar-nav.active .nav-canvas {
		left: -10px;
		border-right: solid 1px white;
		border-bottom: solid 1px white;
	}
	.sidebar-nav {
		position: relative;
		z-index: 3;
		margin: 0 !important;
		padding: 0;
	}
	.nav-canvas {
		-webkit-transition: .2s;
		-moz-transition: .2s;
		-ms-transition: .2s;
		-o-transition: .2s;
		transition: .2s;
	}
	.sidebar-nav a {
		border: none !important;
		color: white;
	}
	#for-is-ajax {
		color: white;
		margin-top: 15px;
	}
	.main-menu .nav-header {
		color: white;
	}
	ul.main-menu li:hover {
		margin-left: inherit;
	}
	ul.main-menu li.active {
		margin-left: inherit;
	}
	ul.main-menu a:hover,.nav-sm a:hover {
		background: none !important;
		color: grey;
	}
	.navbar-default .navbar-toggle:focus {
		background-color: inherit;
	}
	.navbar-default .navbar-toggle.active {
		/*box-shadow: 0 0 7px rgb(0, 255, 40); */
		border: solid 1px white;
	}
	.navbar-toggle {
		margin-left: 5px;
		margin-right: 0;
	}
	.powered-by {
		text-align: center;
	}
	.copyright {
		text-align: center;
	}
	.table-wrapper .pinned {
		box-shadow: 0 0 20px black;
	}
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 979px) {
	.box-icon {
		display: none;
	}
	.box-header h2 {
		font-size: 13px !important;
	}
	.box-header h3 {
		font-size: 11px !important;
	}
	.main-menu-span {
		width: 6.2% !important;
		margin-right: 4%;
	}
	.top-menu>li i {
		display: none;
	}
	.sidebar-nav li span {
		display: block !important;
	}
	.sidebar-nav li a,.sidebar-nav .nav-header {
		text-align: center
	}
	.sidebar-nav {
		padding: 0;
		margin-bottom: 0;
	}
}

/* Computer */
@media only screen and (min-width: 980px) {
	a,button,input[type=submit],input[type=button],.product-img {
		-webkit-transition: .5s;
		-moz-transition: .5s;
		-ms-transition: .5s;
		-o-transition: .5s;
		transition: .5s;
	}
	.volo-container {
		padding: 0 20px;
	}
}

/* MailChimp Form Embed Code - Slim - 08/17/2011 */
.email-subscription-footer a {
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 1px;
}

.email-subscription-footer {
	float: right;
	padding: 20px 0 0 20px;
	text-align: center;
}

.mc_embed_signup {
	font: 14px Helvetica, Arial, sans-serif;
}

.power_field {
	position: absolute;
	left: -5000px;
	display: none;
}

.mc_embed_signup form {
	display: block;
	position: relative;
	text-align: left;
	padding: 10px 0 10px 3%
}

.mc_embed_signup h2 {
	font-weight: bold;
	padding: 0;
	margin: 15px 0;
	font-size: 1.4em;
}

.mc_embed_signup input {
	border: 1px solid #999;
	-webkit-appearance: none;
}

.mc_embed_signup input[type=checkbox] {
	-webkit-appearance: checkbox;
}

.mc_embed_signup input[type=radio] {
	-webkit-appearance: radio;
}

.mc_embed_signup input:focus {
	border-color: #333;
}

.mc_embed_signup .button {
	clear: both;
	background-color: #aaa;
	border: 0 none;
	border-radius: 4px;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-size: 15px;
	font-weight: bold;
	height: 32px;
	line-height: 32px;
	margin: 0 5px 10px 0;
	padding: 0;
	text-align: center;
	text-decoration: none;
	vertical-align: top;
	white-space: nowrap;
	width: auto;
}

.mc_embed_signup .button:hover {
	background-color: #777;
}

.mc_embed_signup .small-meta {
	font-size: 11px;
}

.mc_embed_signup .nowrap {
	white-space: nowrap;
}

.mc_embed_signup .clear {
	clear: none;
	display: inline;
}

.mc_embed_signup label {
	display: block;
	font-size: 16px;
	padding-bottom: 10px;
	font-weight: bold;
}

.mc_embed_signup input.email {
	display: block;
	padding: 8px 0;
	margin: 0 4% 10px 0;
	text-indent: 5px;
	width: 58%;
	min-width: 130px;
}

.mc_embed_signup input.button {
	display: block;
	width: 35%;
	margin: 0 0 10px 0;
	min-width: 90px;
}

.mc_embed_signup div#mce-responses {
	float: left;
	top: -1.4em;
	padding: 0em .5em 0em .5em;
	overflow: hidden;
	width: 90%;
	margin: 0 5%;
	clear: both;
}

.mc_embed_signup div.response {
	margin: 1em 0;
	padding: 1em .5em .5em 0;
	font-weight: bold;
	float: left;
	top: -1.5em;
	z-index: 1;
	width: 80%;
}

.mc_embed_signup #mce-error-response {
	display: none;
}

.mc_embed_signup #mce-success-response {
	color: #529214;
	display: none;
}

.mc_embed_signup label.error {
	display: block;
	float: none;
	width: auto;
	margin-left: 1.05em;
	text-align: left;
	padding: .5em 0;
}

.img-1 {
background-color: #30a5ff;
    border: 3px solid #fff;
    border-radius: 20%;
    float: left;
    height: 76px;
    margin-left: 1%;
    padding: 5px;
    width: 217px;
}

.img-1 {
	vertical-align: middle;
}

.img-2 {
	float: left;
	height: 51px;
	margin-right: 40px;
	width: 180px;
}

.img-2 {
	vertical-align: middle;
}

body {
	/*background: #DDDDDD;*/
	background: #eee;
}

.box-inner {
	background: #fff;
}

.sidebar-nav {
	background: #fff;
}

.navbar-default {
	/*background: #fff;*/
	background: #337ab7  ;
	border-color: #337ab7 ;
}

.img-login {
	height: 75px;
	width: 75px;
	/*background-color: #474747;*/
	/*background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;*/
	border-radius: 50%;
}

.img-login {
	vertical-align: middle;
}

.img-tag {
	height: 51px;
	width: 180px;
}

.img-tag {
	vertical-align: middle;
}


.nav > li > a:hover,
.nav > li > a:focus {
  /*text-decoration: none;*/
  /*background-color: #eee;*/
  background-color: #474747;
  color:white;
}